@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/HelveticaLight.woff2"), url("assets/fonts/HelveticaLight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/HelveticaRegular.woff2"), url("assets/fonts/HelveticaRegular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/HelveticaBold.woff2"), url("assets/fonts/HelveticaBold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YesevaOne";
  src: url("assets/fonts/YesevaOne-Regular.woff2"), url("assets/fonts/YesevaOne-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
